@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');

body {
    --font: 'figtree';
    --code-font: '';
    font-weight: 400;

    --gap: 12px;
    --divider-thickness: 4px;
    --border-thickness: 1px;

    --animations: on;
    --list-item-transition: 0.2s ease;
    --dms-icon-svg-transition: 0.4s ease;
    --border-hover-transition: 0.2s ease;

    --top-bar-height: var(--gap);
    --top-bar-button-position: titlebar;
    --top-bar-title-position: off;
    --subtle-top-bar-title: off;

    --custom-window-controls: on;
    --window-control-size: 14px;

    --custom-dms-icon: hide;
    --dms-icon-svg-url: url('https://refact0r.github.io/midnight-discord/assets/Font_Awesome_5_solid_moon.svg');
    --dms-icon-svg-size: 90%;
    --dms-icon-color-before: var(--icon-subtle);
    --dms-icon-color-after: var(--white);
    --custom-dms-background: image;
    --dms-background-image-url: url('https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/logos/exports/1544x1544_circle.png');
    --dms-background-image-size: cover;
    --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--mauve), var(--red-2));

    --background-image: off;
    --background-image-url: url('');

    --transparency-tweaks: off;
    --remove-bg-layer: off;
    --panel-blur: off;
    --blur-amount: 12px;
    --bg-floating: var(--bg-3);

    --custom-chatbar: off;
    --chatbar-height: 47px;

    --small-user-panel: on;
}

:root {
    --colors: on;

    --text-0: #1a2418;
    --text-1: #e8f4d2;
    --text-2: #d8ead0;
    --text-3: #c1d0b8;
    --text-4: #8a9b82;
    --text-5: #6f8a63;

    --bg-1: #40523b;
    --bg-2: #344630;
    --bg-3: #151d13;
    --bg-4: #1a2418;
    --hover: hsla(100, 15%, 53%, 0.1);
    --active: hsla(100, 15%, 53%, 0.2);
    --active-2: hsla(100, 15%, 53%, 0.3);
    --message-hover: hsla(0, 0%, 0%, 0.1);

    --accent-1: #a6d189;
    --accent-2: #a6d189;
    --accent-3: #a6d189;
    --accent-4: #bde3a3;
    --accent-5: #c4d684;
    --accent-new: var(--accent-2);
    --mention: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 90%) 40%, transparent);
    --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 95%) 40%, transparent);
    --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent);
    --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent);

    --online: #a6d189;
    --dnd: #e67e80;
    --idle: #e5d88a;
    --streaming: #c4d684;
    --offline: var(--text-4);

    --border-light: var(--hover);
    --border: var(--active);
    --border-hover: var(--active);
    --button-border: hsl(100, 0%, 100%, 0.1);

    --red-1: #e67e80;
    --red-2: #e67e80;
    --red-3: #e67e80;
    --red-4: #e67e80;
    --red-5: #e67e80;

    --green-1: #a6d189;
    --green-2: #a6d189;
    --green-3: #a6d189;
    --green-4: #a6d189;
    --green-5: #a6d189;

    --blue-1: #58704f;
    --blue-2: #58704f;
    --blue-3: #58704f;
    --blue-4: #58704f;
    --blue-5: #58704f;

    --yellow-1: #e5d88a;
    --yellow-2: #e5d88a;
    --yellow-3: #e5d88a;
    --yellow-4: #e5d88a;
    --yellow-5: #e5d88a;

    --purple-1: #c4d684;
    --purple-2: #c4d684;
    --purple-3: #c4d684;
    --purple-4: #c4d684;
    --purple-5: #c4d684;
}
